  
    .modal-overlay {
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
      }
      
      .modal-display-block {
        display: block;
      }
      
      .modal-display-none {
        display: none;
      }
  
  